.img1 {
    width: 411px;
height: 380px;
gap: 42px;
opacity: 1;
/* padding-right: 60px;
padding-left: 60px; */

}

.heading{
    width: 311px;
height: 130px;
opacity: 1;
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 65px;
line-height: 65px;
letter-spacing: -4px;
color: #121212;

}
.para {
width: 311px;
height: 78px;
opacity: 0.8;
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 26px;
letter-spacing: -0.3px;
color: #121212;

}
.img1 button {
    width: 280px;
height: 50px;
border: 1px solid #121212;
opacity: 1;
border-radius: 200px;
border-width: 1px;
font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 24px;
letter-spacing: 1px;
text-align: center;

}

@media (max-width: 768px) {
  .img1 {
    width: 100%;
    height: auto;
    padding: 0 10px;
  }

  .heading {
    width: 100%;
    font-size: 38px;
    line-height: 40px;
    letter-spacing: -2px;
  }

  .para {
    width: 100%;
    font-size: 15px;
    line-height: 22px;
  }

  .img1 button {
    width: 200px;
    height: 45px;
    font-size: 12px;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 32px;
  }

  .para {
    font-size: 14px;
    width: 90%;
  }

  .img1 button {
    width: 180px;
  }
}
