.img1 {
    width: 411px;
height: 380px;
gap: 42px;
opacity: 1;
/* padding-right: 60px;
padding-left: 60px; */

}

.heading{
    width: 311px;
height: 130px;
opacity: 1;
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 65px;
line-height: 65px;
letter-spacing: -4px;
color: #121212;

}
.para {
width: 311px;
height: 78px;
opacity: 0.8;
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 26px;
letter-spacing: -0.3px;
color: #121212;

}
.img1 button {
    width: 280px;
height: 50px;
border: 1px solid #121212;
opacity: 1;
border-radius: 200px;
border-width: 1px;
font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 24px;
letter-spacing: 1px;
text-align: center;

}

