.mainDiv {
    width: 1320px;
height: 556px;
margin-top: -400px;
opacity: 1;
}
.content {
position: relative;
top: 500px;
left: 110px;
}
/* .imgDiv {
    width: 1320px;
height: 556px;
display: flex;
justify-content: left;

opacity: 1;
} */
.imgDiv img {
   width: 1392px;
    height: 556px;
margin-left: 40px;
padding-right: 40px;
}
.para1 {
    width: 231px;
height: 38px;
opacity: 0.5;
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 30px;
line-height: 38px;
letter-spacing: -1px;
margin-top: 10px;

}

.para2 {
    width: 511px;
height: 130px;
opacity: 1;
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 65px;
line-height: 65px;
letter-spacing: -4px;
color: #FFFFFF;
margin-top: -20px;
}
.para3 {
    width: 510px;
height: 104px;
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 26px;
letter-spacing: -0.3px;
color: #FFFFFF;
opacity: 0.8;
margin-top: -40px;

}
.para4{
    width: 201px;
height: 32px;
opacity: 1;
font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 24px;
color: #FFFFFF;
line-height: 32px;
letter-spacing: -0.5px;
margin-top: 40px;
}
.para5{
    width: 125px;
height: 22px;
opacity: 0.5;
width: 125;
height: 22;
color: #FFFFFF;
opacity: 0.5;
margin-top: -20px;


}

@media screen and (max-width: 1024px) {
    .mainDiv {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -200px;
        height: auto;
    }
    
    .content {
        top: 300px;
        left: 60px;
    }
    
    .imgDiv img {
        width: 100%;
        height: auto;
        margin-left: 0;
        padding-right: 0;
    }
    
    .para2 {
        width: 400px;
        font-size: 50px;
        line-height: 55px;
        letter-spacing: -3px;
    }
    
    .para3 {
        width: 400px;
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 768px) {
    .mainDiv {
        width: 95%;
        margin-top: -100px;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .content {
        position: static;
        order: 2;
        padding: 30px 20px;
        text-align: center;
    }
    
    .imgDiv {
        order: 1;
    }
    
    .imgDiv img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        margin-left: 0;
        padding-right: 0;
    }
    
    .para1 {
        width: auto;
        font-size: 24px;
        line-height: 30px;
        margin: 0 auto;
    }
    
    .para2 {
        width: auto;
        font-size: 36px;
        line-height: 40px;
        letter-spacing: -2px;
        margin-top: 10px;
        height: auto;
    }
    
    .para3 {
        width: auto;
        font-size: 16px;
        line-height: 22px;
        margin-top: 20px;
        height: auto;
    }
    
    .para4 {
        width: auto;
        font-size: 20px;
        margin-top: 30px;
    }
    
    .para5 {
        width: auto;
        margin-top: -15px;
    }
}

@media screen and (max-width: 480px) {
    .mainDiv {
        width: 100%;
        margin-top: -50px;
    }
    
    .content {
        padding: 20px 15px;
    }
    
    .imgDiv img {
        height: 250px;
    }
    
    .para1 {
        font-size: 20px;
        line-height: 26px;
    }
    
    .para2 {
        font-size: 28px;
        line-height: 32px;
        letter-spacing: -1px;
    }
    
    .para3 {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.2px;
    }
    
    .para4 {
        font-size: 18px;
        line-height: 24px;
    }
    
    .para5 {
        font-size: 14px;
    }
}


@media screen and (max-width: 360px) {
    .content {
        padding: 15px 10px;
    }
    
    .para2 {
        font-size: 24px;
        line-height: 28px;
    }
    
    .para3 {
        font-size: 13px;
        line-height: 18px;
    }
}