.img1 {
    /* width: 958px;
height: 800px;
opacity: 1;
background-image: url('./home1.png');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
border-radius: 25px;
margin-left: 40px; */
margin-top: -445px;
}
.img1 img {
    width: 958px;
height: 800px;
border-radius: 25px;
margin-left: 40px;
opacity: 1;
}

.insideText{
position: relative;
top: 420px;
left: 30px;
}

.heading{
    width: 328px;
opacity: 1;

    font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 90px;
color: #FFFFFF;
line-height: 75px;
letter-spacing: -5px;
margin: 0px 0px 20px 80px;
padding-top: 80px;
}
.para {
    width: 328px;
color: #FFFFFF;
opacity: 0.8;
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 26px;
letter-spacing: -0.3px;
margin: 0px 0px 20px 80px;

}
.img1 button {
    width: 280px;
height: 50px;
background: #121212;
opacity: 1;
border-radius: 200px;
font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 24px;
letter-spacing: 1px;
text-align: center;
background: #FFFFFF;
margin: 0px 0px 0px 80px;
}


@media (max-width: 768px) {
  .img1 img {
    width: 100%;
    height: auto;
    margin-left: 0;
    border-radius: 20px;
  }

  .img1 {
    margin-top: 0;
    padding: 0 10px;
  }

  .insideText {
    position: absolute;
    top: 40px;
    left: 20px;
  }

  .heading {
    width: 250px;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -2px;
    margin: 0;
    padding: 0;
  }

  .para {
    width: 250px;
    margin-top: 10px;
    margin-left: 0;
    font-size: 14px;
    line-height: 20px;
  }

  .img1 button {
    width: 180px;
    height: 45px;
    margin-left: 0;
    margin-top: 20px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 34px;
    line-height: 36px;
  }

  .para {
    font-size: 13px;
    width: 220px;
  }

  .img1 button {
    width: 160px;
  }
}
