.header {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}
.bar2 {
    margin-right: 40px;
}
.bar ul{
    display: flex;
    list-style: none;
    font-size: 18px;
    gap: 30px;
}
.bar ul li {
    font-size: 18px;
}
.bar2 ul{
    display: flex;
    list-style: none;
    font-size: 18px;
    gap: 30px;
}
.inputBar {
    display: flex;
}
.inputBar p {
    width: 161px;
height: 30px;
font-family: Inter;
font-weight: 800;
font-style: Extra Bold;
font-size: 24px;

letter-spacing: 0px;
margin-right: 25px;
}
.category input {
    height: 20px;
    border-radius: 20px;
    padding: 5px 50px 5px 0px;
    margin-top: 20px;
    border: 1px solid #E3E3E3
}
.category input::placeholder {
    padding-left: 10px;
}

.category {
    display: flex;
}
.category img {
    width: 20px;
height: 20px;
opacity: 0.5;
margin: 28px 0px 0px -35px;

}
.category ul {
    display: flex;
    margin-top: 25px;
    font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 14px;

line-height: 16px;
letter-spacing: 0px;

}