.MainDiv {
    width: 654px;
height: 450px;

opacity: 1;


}
.itemDiv {
    width: 654px;
height: 374px;
opacity: 1;


}

.itemDiv img {
     width: 710px;
height: 374px;
opacity: 1;
border-radius: 20px;
}
.itemName {
height: 32px;
opacity: 1;
font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 24px;
line-height: 32px;
letter-spacing: -1px;
color: #121212;
margin-top: 5px;

} 
.itemPrice {
  width: 47px;
height: 28px;
margin-top: -20px;
opacity: 0.8;
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 28px;
letter-spacing: -1px;
color: #121212;

}

@media (max-width: 768px) {

  .MainDiv {
    width: 100%;
    height: auto;
  }

  .itemDiv {
    width: 100%;
    height: auto;
  }

  .itemDiv img {
    width: 100%;
    height: auto;
  }

  .itemName {
    font-size: 18px;
    margin-top: 8px;
  }

  .itemPrice {
    font-size: 16px;
    margin-top: -10px;
  }
}
