.header {
    display: flex;
    margin-top: 40px;
   margin-right: 30px;
    justify-content: space-between;
}
.bar2 {
    margin-right: 40px;
}
.bar2 ul li:nth-child(4) {
    background: #121212;
    color: #FFFFFF;

}
.bar ul{
    display: flex;
    width: 118px;
height: 38px;
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 30px;
line-height: 38px;
letter-spacing: -1px;
list-style: none;
opacity: 1;


}
.bar2 ul li {
    width: 115px;
height: 50px;

font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 14px;
color: #121212CC;
margin-top: 10px;
line-height: 50px;
letter-spacing: 1px;
text-align: center;

opacity: 1;

border: 1px solid #DDDDDD;
opacity: 1;
border-radius: 20px;
border-width: 1px;

}
/* .bar ul li {
    font-size: 18px;
} */
.bar2 ul{
    display: flex;
    gap: 30px;
font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 14px;

text-align: center;
list-style: none;
}

.TradingItems {
    display: flex;
    gap: 20px;
    margin-left: 40px;
}

.TradingItems1 {
    display: flex;
    gap: 20px;
    margin-left: 40px;
    margin-top: 20px;
}

.contant {
    width: 256px;
height: 130px;
opacity: 1;
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 60px;
line-height: 65px;
letter-spacing: -3px;
color: #121212;
margin-left: 40px;


}
.colorsFlex {
    display: flex;
    align-items: center;
    
}