

.homePage {
    display: flex;
}

.slide {
    margin-top: -160px;
    margin-left: 30px;
}
.contantImage {
    display: flex;
    gap: 10px;
    margin-left: 40px;
}


@media (max-width: 768px) {
  .homePage {
    flex-direction: column;
    padding: 0 10px;
  }

  .slide {
    margin-top: 20px;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}


@media (max-width: 768px) {
  .contantImage {
    flex-direction: column;
    margin-left: 0;
    padding: 0 10px;
    gap: 20px;
  }
}
